* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Nunito, sans-serif;
}

.img-ifmg {
    width: 100%;
    height: auto;
    margin-bottom: 37px;
}

.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    overflow: auto;
    background-color: #34a444;
}

.container-monitor {
    width: 100%;
    min-height: 100vh;
    background-color: #34a444;
    justify-content: center;
    display: flex; /* Faz com que os elementos sejam mostrados um ao lado do outro */
    position: static;
    overflow: auto;
}

.container-elements {
    background-color: #34a444;
    background-image: url("../../../public/images/diagrama-unifilar2.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    display: flex;
    min-width: 1200px;
    min-height: 820px;
    position: static;
    justify-content: right;
    align-items: center;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #34a444;
    overflow: auto;
}

.txt-label-password {
    width: 100%;
    margin-bottom: 37px;
    font-size: 12px;
    color: #adadad;
    line-height: 1.5;
    padding-right: 5px;
}

.wrapper-login {
    width: 390px;
    background-color: whitesmoke;
    padding: 77px 55px 33px 55px;
    border-radius: 25px;
}

.wrapper-newDevice{
    width: 390px;
    height: 600px;
    background-color: whitesmoke;
    padding: 77px 55px 33px 55px;
    border-radius: 25px;
    position: static;
    margin-top: 140px;
}

.wrapper-options{
    width: 390px;
    height: fit-content;
    background-color: whitesmoke;
    padding: 77px 55px 0px 55px;
    border-radius: 25px;
    position: static;
    margin-top: 140px;
    border: 20px;
}

.wrapper-elements {
    width: 140px;
    height: 660px;
    margin-right: 70px;
    display: block; /* Faz com que os elementos sejam mostrados um abaixo do outro */
}

.wrapper-devices{
    width: 500px;
    height: 600px;
    background-color: #34a444;
    margin-top: 140px;
}

.wrapper-loading-devices{
    width: 100%;
    height: fit-content;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 25px;
    border: 20px;
}

.loading-devices-txt {
    font-size: 25px;
    font-weight: bold;
    color: #5f5f5f;
    line-height: 1.2;
    text-align: center;
}

.form-input-spacing {
    width: 100%;
    height: 37px;
}

.login-form-title {
    font-size: 25px;
    font-weight: bold;
    color: #5f5f5f;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 37px;
}

.monitor-element{
    width: auto;
    height: 80px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.monitor-element:hover{
    background-color: rgb(223, 223, 223);
}

.monitor-element-spacing{
    width: auto;
    height: 65px;
}

.txt-element{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.txt-element:hover{
    cursor: pointer;
}
