* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Nunito, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.container-header-form-img{
    width: 100%;
    margin-bottom: 37px;
}

.container-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #5f5f5f;
    margin-bottom: 37px;
}

.container-input-password {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #5f5f5f;
}

.container-label-password{
    width: 100%;
    margin-bottom: 37px;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #34a444;
}

.container-nav-bar {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 70px 15px 15px 15px;
    background-color: #34a444;
}

.container-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}

.container-nav-bar-img{
    width: 300px;
    height: 70px;
    display: block;
    float: left;
    padding: 5px;
}

.container-nav-bar-img:hover{
    cursor: pointer;
}

.container-nav-bar-btn{
    width: 200px;
    height: 70px;
    padding: 10px;
}

.container-nav-bar-txt-welcome{
    width: 100%;
    height: 70px;
    display: auto;
    padding: 5px;
}

.wrapper-checkboxes{
    display: flex;
    margin-bottom: 37px;
    margin-top: 10px;
}

.wrapper-login {
    width: 390px;
    background-color: whitesmoke;
    padding: 77px 55px 33px 55px;
    border-radius: 25px;
}

.wrapper-login-white {
    height: 100%;
    width: 500px;
    background-color: #34a444;
    padding: 37px 55px 300px 55px;
    margin-top: 80px;
    position: fixed;
    overflow: hidden;
    overflow-y: auto; /* Habilita uma scrollbar quando necessário */
}

.login-form {
    width: 100%;
}

.login-form-title {
    font-family: Nunito, sans-serif;
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #5f5f5f;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 37px;
}

.input {
    font-size: 15px;
    color: #5f5f5f;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
    font-family: Nunito, sans-serif;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #5f5f5f;
    font-family: Nunito, sans-serif;
}

.focus-input::after {
    font-family: Nunito, sans-serif;
    font-size: 15px;
    color: #5f5f5f;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #34a444;
    background: -webkit-linear-gradient(to left, #34a444);
    background: -o-linear-gradient(to left, #34a444);
    background: -moz-linear-gradient(to left, #34a444);
    background: linear-gradient(to left, #34a444);
}

.input:focus {
    outline: 0;
}

.input:focus+.focus-input::after {
    top: -15px;
}

.input:focus+.focus-input::before {
    width: 100%;
}

.has-val+.focus-input::after {
    top: -15px;
}

.has-val+.focus-input::before {
    width: 100%;
}

.form-btn {
    font-size: 15px;
    border: none;
    color: whitesmoke;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #34a444;
    border-radius: 25px;
}

.form-btn:hover {
    cursor: pointer;
    background: #297c36;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.txt1 {
    font-size: 14px;
    color: #5f5f5f;
    line-height: 1.5;
    padding-right: 5px;
}

.txt-label-password {
    font-size: 12px;
    color: #adadad;
    line-height: 1.5;
    padding-right: 5px;
}

.txt2 {
    font-size: 14px;
    color: #34a444;
    line-height: 1.5;
    text-decoration: none;
}

.img-ifmg{
    width: auto;
    height: auto;
    max-width:280px;
    max-height:70px;
}

.img-ifmg-nav{
    width: auto;
    height: auto;
    max-width:300px;
    max-height:70px;
}

.nav-bar{
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    overflow: hidden; /* Esconde a scrollbar na barra de navegação */
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 999;
}

.nav-bar-txt-welcome{
    font-family: Nunito, sans-serif;
    font-size: 20px;
    padding: 20px; 
    color: #5f5f5f;
    align-self: center;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.nav-bar-btn{
    font-size: 15px;
    border: none;
    color: whitesmoke;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #34a444;
    border-radius: 25px;
}

.nav-bar-btn:hover {
    cursor: pointer;
    background: #297c36;
}

.checkbox {
    width: 100%;
    height: 20px;
    padding: 20px;
}

.checkbox-label{
    font-size: 14px;
    color: #5f5f5f;
    line-height: 1.5;
    padding-right: 5px;
    cursor: pointer;
}